{% extends "base.html" %}
{% block content %}
    {% load static %}
    <div class="container ms-2 mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fs-4">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}" class="text-decoration-none text-black"><i class="bi bi-house-door-fill"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">All Offers</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        {% if all_offers %}
            <div id="offersCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for all_offer in all_offers %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="container-fluid mt-2"
                                 style="background-image: url('{% static 'image/op.jpg' %}');
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        position: relative;
                                        padding: 50px 0">
                                <div class="container py-2">
                                    <div class="row gx-5 justify-content-start">
                                        <div class="col-lg-7">
                                            <div class="ps-5 mb-5">
                                                <h6 class="text-dark text-uppercase">Special Offer</h6>
                                                <h1 class="display-5 text-uppercase text-white mb-0">{{ all_offer.offers }} -- {{ all_offer.time }}</h1>
                                            </div>
                                            {% comment %} <a href="{% url 'view_shop' %}" class="btn btn-light  btn-sm">Shop Now</a> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal for deletion -->
                    {% endfor %}
                </div>
                <!-- Carousel Controls -->
                <button class="carousel-control-prev"
                        type="button"
                        data-bs-target="#offersCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#offersCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% else %}
            <div class="alert alert-warning mt-3 text-center" role="alert">Currently No New Offers</div>
        {% endif %}
    </div>
{% endblock content %}
