{% extends "base.html" %}
{% block content %}
    <div class="container mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fs-4">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}" class="text-decoration-none text-black"><i class="bi bi-house-door-fill"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'users_dashboard' %}"
                       class="text-decoration-none text-black">User Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
            </ol>
        </nav>
    </div>
    {% if all_food %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ms-2 mt-4">
            {% for food in all_food %}
                <div class="col">
                    <div class="card h-100">
                        {% comment %} <div class="card-header">
                <h5 class="card-title">Booking confirmation</h5>
                        </div> {% endcomment %}
                        <div class="card-body">
                            <p>
                                <strong>Food Product:</strong> {{ food.Food_name }}
                            </p>
                            <p>
                                <strong>Quantity:</strong>{{ food.quantity }}
                            </p>
                            <p>
                                <strong>Price:</strong>  {{ food.total_price }}
                            </p>
                            <p>
                                <strong>Booked Date:</strong> {{ food.date }}
                            </p>
                            <p>
                                <strong>Address:</strong> {{ food.address }}
                            </p>
                            <p>
                                <strong>Email:</strong> {{ food.email }}
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'update_booking_food' food.id %}">
                                <button type="submit" class="btn btn-primary btn-sm">Edit Details</button>
                            </a>
                            <button type="button"
                                    class="btn btn-danger btn-sm"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal{{ food.id }}">Cancel</button>
                        </div>
                    </div>
                </div>
                <!-- Modal for Delete Confirmation -->
                <div class="modal fade"
                     id="deleteModal{{ food.id }}"
                     tabindex="-1"
                     aria-labelledby="deleteModal{{ food.id }}"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModal{{ food.id }}">Cancel Booking</h1>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">Are you sure you want to cancel?</div>
                            <div class="modal-footer">
                                <a href="{% url 'delete_booking_food' food.id %}">
                                    <button type="button" class="btn btn-danger">Cancel</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </br>
    {% include "pagination.html" %}
{% else %}
    <div class="alert alert-success text-center mt-2" role="alert">There is no Food Products Booked yet</div>
{% endif %}
{% endblock content %}
