{% extends "base.html" %}
{% block content %}
    <div class="container mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fs-4">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}" class="text-decoration-none text-black"><i class="bi bi-house-door-fill"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'users_dashboard' %}"
                       class="text-decoration-none text-black">User Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
            </ol>
        </nav>
    </div>
    {% if all_user %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ms-2">
            {% for user in all_user %}
                <div class="col">
                    <div class="card h-100">
                        {% comment %} <div class="card-header">
                <h5 class="card-title">Booking confirmation</h5>
                        </div> {% endcomment %}
                        <div class="card-body">
                            <p>
                                <strong>Service Name:</strong> {{ user.service_name }}
                            </p>
                            <p>
                                <strong>Token Details:</strong>{{ user.token }}
                            </p>
                            <p>
                                <strong>Price:</strong>  {{ user.price }}
                            </p>
                            <p>
                                <strong>date:</strong> {{ user.date }}
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'update_booking_service_offered' user.id %}">
                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </a>
                        <button type="button"
                                class="btn btn-danger btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ user.id }}">Delete</button>
                    </div>
                </div>
            </div>
            <!-- Modal for Delete Confirmation -->
            <div class="modal fade"
                 id="deleteModal{{ user.id }}"
                 tabindex="-1"
                 aria-labelledby="deleteModal{{ user.id }}"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModal{{ user.id }}">Delete</h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">Are you sure you want to delete?</div>
                        <div class="modal-footer">
                            <a href="{% url 'delete_booking_service_offered' user.id %}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% include "pagination.html" %}
{% else %}
<div class="alert alert-success text-center mt-2" role="alert">There is no Service Booked yet</div>
{% endif %}
{% endblock content %}
