asgiref==3.8.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
distlib==0.3.9
Django==5.1.2
djlint==1.35.2
EditorConfig==0.12.4
filelock==3.16.1
html-tag-names==0.1.2
html-void-elements==0.1.0
identify==2.6.2
jsbeautifier==1.15.1
json5==0.9.25
mysql==0.0.3
mysql-connector-python==9.1.0
mysqlclient==2.2.4
nodeenv==1.9.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pre_commit==4.0.1
psycopg2==2.9.10
PyMySQL==1.1.1
PyYAML==6.0.2
regex==2024.9.11
six==1.16.0
sqlparse==0.5.1
tqdm==4.66.5
tzdata==2024.2
virtualenv==20.27.1
