{% extends "forget_base.html" %}
{% block title %}
    Change Password
{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Enter New Password</h1>
                        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="password" class="form-label">New Password:</label>
                                <input type="password"
                                       class="form-control w-100"
                                       id="id_new_password2"
                                       name="new_password1"
                                       required>
                                <label for="password" class="form-label">New Password Confirmation:</label>
                                <input type="password"
                                       class="form-control w-100"
                                       id="id_new_password2"
                                       name="new_password2"
                                       required>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="submit" class="btn btn-primary btn-sm">submit</button>
                                <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Back to Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
