{% extends "forget_base.html" %}
{% block title %}
404
{% endblock title %}
{% block content %}
    {% load static %}
    <div class="container  mt-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                           <h1 class="mt-4" >4</h1> <img src="{% static "image/favicon.png" %}"width="50" ;height="30"> <h1 class="mt-4">4</h1>
                        </div>
                        <p>
                            404 Page Not Found !! 
                            it means that the page doesn't exists
                            .
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="{% url 'home' %}" class="btn btn-primary btn-sm">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
