{% extends "base.html" %}
{% block content %}
    <div class="container ms-2">
        <nav class="breadcrumb">
            <ol class="breadcrumb fs-4">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}" class="text-decoration-none text-black"><i class="bi bi-house-door-fill"></i></a>
                </li>
                <li class="breadcrumb-item active"aria-current="page">{{ page_title }}</li>
            </ol>
        </nav>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form method="post"> 
                            <div>
                                <label>Accessories name:</label>
                                {{ form.accessories_name }}
                                <br>
                        
                                <label>Price:</label>
                                {{ form.price }}
                                <br>
                        
                                <label>Quantity:</label>
                                {{ form.quantity }}
                                <br>
                        
                                <p class ="text-center text-success">Total price: <span id="total_price">0</span></p>
                                <p  class ="text-center text-danger">Total Stock: <span id="total_stock`">{{all_accessorie.total_stock}}</span></p>
                        

                            {% comment %} <h5 class="class text-center text-danger">Total Stock : {{all_accessorie.total_stock}}</h5> {% endcomment %}
                            {% csrf_token %}
                            
                            <button type="submit" class="btn btn-primary">{{ page_title }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        function calculateTotalPrice() {
            // Get the values of price and quantity
            const price = parseFloat(document.getElementById('id_price').value);
            const quantity = parseInt(document.getElementById('id_quantity').value) ;

            ///if (isNaN(quantity) || quantity < 1) {
             //   quantity = 1;
            //}
        
        
    
            // Calculate total price
            const totalPrice = price * quantity;
    
            // Display total price
            document.getElementById('total_price').textContent = totalPrice;
        }
    
        // Add event listener to quantity input
        document.getElementById('id_quantity').addEventListener('input', calculateTotalPrice);
    </script>
{% endblock content %}
