<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <!-- "Previous" Button -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}"
                   aria-label="Previous">
                    <i class="bi bi-chevron-double-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
            </li>
        {% endif %}

        <!-- Page Numbers -->
        {% for i in page_obj.paginator.page_range %}
            {% if i >= page_obj.number|add:"-2" and i <= page_obj.number|add:"2" %}
                {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        <!-- "Next" Button -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.next_page_number }}"
                   aria-label="Next">
                    <i class="bi bi-chevron-double-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
            </li>
        {% endif %}
    </ul>
</nav>
<p class="text-center">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
